$/bond:Waters[0]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[0]/o $/atom:Waters[0]/h1
$/bond:Waters[0]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[0]/o $/atom:Waters[0]/h2
$/bond:Waters[1]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[1]/o $/atom:Waters[1]/h1
$/bond:Waters[1]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[1]/o $/atom:Waters[1]/h2
$/bond:Waters[2]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[2]/o $/atom:Waters[2]/h1
$/bond:Waters[2]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[2]/o $/atom:Waters[2]/h2
$/bond:Waters[3]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[3]/o $/atom:Waters[3]/h1
$/bond:Waters[3]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[3]/o $/atom:Waters[3]/h2
$/bond:Waters[4]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[4]/o $/atom:Waters[4]/h1
$/bond:Waters[4]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[4]/o $/atom:Waters[4]/h2
$/bond:Waters[5]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[5]/o $/atom:Waters[5]/h1
$/bond:Waters[5]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[5]/o $/atom:Waters[5]/h2
$/bond:Waters[6]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[6]/o $/atom:Waters[6]/h1
$/bond:Waters[6]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[6]/o $/atom:Waters[6]/h2
$/bond:Waters[7]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[7]/o $/atom:Waters[7]/h1
$/bond:Waters[7]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[7]/o $/atom:Waters[7]/h2
$/bond:Waters[8]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[8]/o $/atom:Waters[8]/h1
$/bond:Waters[8]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[8]/o $/atom:Waters[8]/h2
$/bond:Waters[9]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[9]/o $/atom:Waters[9]/h1
$/bond:Waters[9]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[9]/o $/atom:Waters[9]/h2
$/bond:Waters[10]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[10]/o $/atom:Waters[10]/h1
$/bond:Waters[10]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[10]/o $/atom:Waters[10]/h2
$/bond:Waters[11]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[11]/o $/atom:Waters[11]/h1
$/bond:Waters[11]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[11]/o $/atom:Waters[11]/h2
$/bond:Waters[12]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[12]/o $/atom:Waters[12]/h1
$/bond:Waters[12]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[12]/o $/atom:Waters[12]/h2
$/bond:Waters[13]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[13]/o $/atom:Waters[13]/h1
$/bond:Waters[13]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[13]/o $/atom:Waters[13]/h2
$/bond:Waters[14]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[14]/o $/atom:Waters[14]/h1
$/bond:Waters[14]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[14]/o $/atom:Waters[14]/h2
$/bond:Waters[15]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[15]/o $/atom:Waters[15]/h1
$/bond:Waters[15]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[15]/o $/atom:Waters[15]/h2
$/bond:Waters[16]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[16]/o $/atom:Waters[16]/h1
$/bond:Waters[16]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[16]/o $/atom:Waters[16]/h2
$/bond:Waters[17]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[17]/o $/atom:Waters[17]/h1
$/bond:Waters[17]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[17]/o $/atom:Waters[17]/h2
$/bond:Waters[18]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[18]/o $/atom:Waters[18]/h1
$/bond:Waters[18]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[18]/o $/atom:Waters[18]/h2
$/bond:Waters[19]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[19]/o $/atom:Waters[19]/h1
$/bond:Waters[19]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[19]/o $/atom:Waters[19]/h2
$/bond:Waters[20]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[20]/o $/atom:Waters[20]/h1
$/bond:Waters[20]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[20]/o $/atom:Waters[20]/h2
$/bond:Waters[21]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[21]/o $/atom:Waters[21]/h1
$/bond:Waters[21]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[21]/o $/atom:Waters[21]/h2
$/bond:Waters[22]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[22]/o $/atom:Waters[22]/h1
$/bond:Waters[22]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[22]/o $/atom:Waters[22]/h2
$/bond:Waters[23]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[23]/o $/atom:Waters[23]/h1
$/bond:Waters[23]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[23]/o $/atom:Waters[23]/h2
$/bond:Waters[24]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[24]/o $/atom:Waters[24]/h1
$/bond:Waters[24]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[24]/o $/atom:Waters[24]/h2
$/bond:Waters[25]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[25]/o $/atom:Waters[25]/h1
$/bond:Waters[25]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[25]/o $/atom:Waters[25]/h2
$/bond:Waters[26]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[26]/o $/atom:Waters[26]/h1
$/bond:Waters[26]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[26]/o $/atom:Waters[26]/h2
$/bond:Waters[27]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[27]/o $/atom:Waters[27]/h1
$/bond:Waters[27]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[27]/o $/atom:Waters[27]/h2
$/bond:Waters[28]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[28]/o $/atom:Waters[28]/h1
$/bond:Waters[28]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[28]/o $/atom:Waters[28]/h2
$/bond:Waters[29]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[29]/o $/atom:Waters[29]/h1
$/bond:Waters[29]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[29]/o $/atom:Waters[29]/h2
$/bond:Waters[30]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[30]/o $/atom:Waters[30]/h1
$/bond:Waters[30]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[30]/o $/atom:Waters[30]/h2
$/bond:Waters[31]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[31]/o $/atom:Waters[31]/h1
$/bond:Waters[31]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[31]/o $/atom:Waters[31]/h2
$/bond:Waters[32]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[32]/o $/atom:Waters[32]/h1
$/bond:Waters[32]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[32]/o $/atom:Waters[32]/h2
$/bond:Waters[33]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[33]/o $/atom:Waters[33]/h1
$/bond:Waters[33]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[33]/o $/atom:Waters[33]/h2
$/bond:Waters[34]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[34]/o $/atom:Waters[34]/h1
$/bond:Waters[34]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[34]/o $/atom:Waters[34]/h2
$/bond:Waters[35]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[35]/o $/atom:Waters[35]/h1
$/bond:Waters[35]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[35]/o $/atom:Waters[35]/h2
$/bond:Waters[36]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[36]/o $/atom:Waters[36]/h1
$/bond:Waters[36]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[36]/o $/atom:Waters[36]/h2
$/bond:Waters[37]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[37]/o $/atom:Waters[37]/h1
$/bond:Waters[37]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[37]/o $/atom:Waters[37]/h2
$/bond:Waters[38]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[38]/o $/atom:Waters[38]/h1
$/bond:Waters[38]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[38]/o $/atom:Waters[38]/h2
$/bond:Waters[39]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[39]/o $/atom:Waters[39]/h1
$/bond:Waters[39]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[39]/o $/atom:Waters[39]/h2
$/bond:Waters[40]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[40]/o $/atom:Waters[40]/h1
$/bond:Waters[40]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[40]/o $/atom:Waters[40]/h2
$/bond:Waters[41]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[41]/o $/atom:Waters[41]/h1
$/bond:Waters[41]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[41]/o $/atom:Waters[41]/h2
$/bond:Waters[42]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[42]/o $/atom:Waters[42]/h1
$/bond:Waters[42]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[42]/o $/atom:Waters[42]/h2
$/bond:Waters[43]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[43]/o $/atom:Waters[43]/h1
$/bond:Waters[43]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[43]/o $/atom:Waters[43]/h2
$/bond:Waters[44]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[44]/o $/atom:Waters[44]/h1
$/bond:Waters[44]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[44]/o $/atom:Waters[44]/h2
$/bond:Waters[45]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[45]/o $/atom:Waters[45]/h1
$/bond:Waters[45]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[45]/o $/atom:Waters[45]/h2
$/bond:Waters[46]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[46]/o $/atom:Waters[46]/h1
$/bond:Waters[46]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[46]/o $/atom:Waters[46]/h2
$/bond:Waters[47]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[47]/o $/atom:Waters[47]/h1
$/bond:Waters[47]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[47]/o $/atom:Waters[47]/h2
$/bond:Waters[48]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[48]/o $/atom:Waters[48]/h1
$/bond:Waters[48]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[48]/o $/atom:Waters[48]/h2
$/bond:Waters[49]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[49]/o $/atom:Waters[49]/h1
$/bond:Waters[49]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[49]/o $/atom:Waters[49]/h2
$/bond:Waters[50]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[50]/o $/atom:Waters[50]/h1
$/bond:Waters[50]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[50]/o $/atom:Waters[50]/h2
$/bond:Waters[51]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[51]/o $/atom:Waters[51]/h1
$/bond:Waters[51]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[51]/o $/atom:Waters[51]/h2
$/bond:Waters[52]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[52]/o $/atom:Waters[52]/h1
$/bond:Waters[52]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[52]/o $/atom:Waters[52]/h2
$/bond:Waters[53]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[53]/o $/atom:Waters[53]/h1
$/bond:Waters[53]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[53]/o $/atom:Waters[53]/h2
$/bond:Waters[54]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[54]/o $/atom:Waters[54]/h1
$/bond:Waters[54]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[54]/o $/atom:Waters[54]/h2
$/bond:Waters[55]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[55]/o $/atom:Waters[55]/h1
$/bond:Waters[55]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[55]/o $/atom:Waters[55]/h2
$/bond:Waters[56]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[56]/o $/atom:Waters[56]/h1
$/bond:Waters[56]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[56]/o $/atom:Waters[56]/h2
$/bond:Waters[57]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[57]/o $/atom:Waters[57]/h1
$/bond:Waters[57]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[57]/o $/atom:Waters[57]/h2
$/bond:Waters[58]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[58]/o $/atom:Waters[58]/h1
$/bond:Waters[58]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[58]/o $/atom:Waters[58]/h2
$/bond:Waters[59]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[59]/o $/atom:Waters[59]/h1
$/bond:Waters[59]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[59]/o $/atom:Waters[59]/h2
$/bond:Waters[60]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[60]/o $/atom:Waters[60]/h1
$/bond:Waters[60]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[60]/o $/atom:Waters[60]/h2
$/bond:Waters[61]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[61]/o $/atom:Waters[61]/h1
$/bond:Waters[61]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[61]/o $/atom:Waters[61]/h2
$/bond:Waters[62]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[62]/o $/atom:Waters[62]/h1
$/bond:Waters[62]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[62]/o $/atom:Waters[62]/h2
$/bond:Waters[63]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[63]/o $/atom:Waters[63]/h1
$/bond:Waters[63]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[63]/o $/atom:Waters[63]/h2
$/bond:Waters[64]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[64]/o $/atom:Waters[64]/h1
$/bond:Waters[64]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[64]/o $/atom:Waters[64]/h2
$/bond:Waters[65]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[65]/o $/atom:Waters[65]/h1
$/bond:Waters[65]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[65]/o $/atom:Waters[65]/h2
$/bond:Waters[66]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[66]/o $/atom:Waters[66]/h1
$/bond:Waters[66]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[66]/o $/atom:Waters[66]/h2
$/bond:Waters[67]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[67]/o $/atom:Waters[67]/h1
$/bond:Waters[67]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[67]/o $/atom:Waters[67]/h2
$/bond:Waters[68]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[68]/o $/atom:Waters[68]/h1
$/bond:Waters[68]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[68]/o $/atom:Waters[68]/h2
$/bond:Waters[69]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[69]/o $/atom:Waters[69]/h1
$/bond:Waters[69]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[69]/o $/atom:Waters[69]/h2
$/bond:Waters[70]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[70]/o $/atom:Waters[70]/h1
$/bond:Waters[70]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[70]/o $/atom:Waters[70]/h2
$/bond:Waters[71]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[71]/o $/atom:Waters[71]/h1
$/bond:Waters[71]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[71]/o $/atom:Waters[71]/h2
$/bond:Waters[72]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[72]/o $/atom:Waters[72]/h1
$/bond:Waters[72]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[72]/o $/atom:Waters[72]/h2
$/bond:Waters[73]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[73]/o $/atom:Waters[73]/h1
$/bond:Waters[73]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[73]/o $/atom:Waters[73]/h2
$/bond:Waters[74]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[74]/o $/atom:Waters[74]/h1
$/bond:Waters[74]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[74]/o $/atom:Waters[74]/h2
$/bond:Waters[75]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[75]/o $/atom:Waters[75]/h1
$/bond:Waters[75]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[75]/o $/atom:Waters[75]/h2
$/bond:Waters[76]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[76]/o $/atom:Waters[76]/h1
$/bond:Waters[76]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[76]/o $/atom:Waters[76]/h2
$/bond:Waters[77]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[77]/o $/atom:Waters[77]/h1
$/bond:Waters[77]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[77]/o $/atom:Waters[77]/h2
$/bond:Waters[78]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[78]/o $/atom:Waters[78]/h1
$/bond:Waters[78]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[78]/o $/atom:Waters[78]/h2
$/bond:Waters[79]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[79]/o $/atom:Waters[79]/h1
$/bond:Waters[79]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[79]/o $/atom:Waters[79]/h2
$/bond:Waters[80]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[80]/o $/atom:Waters[80]/h1
$/bond:Waters[80]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[80]/o $/atom:Waters[80]/h2
$/bond:Waters[81]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[81]/o $/atom:Waters[81]/h1
$/bond:Waters[81]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[81]/o $/atom:Waters[81]/h2
$/bond:Waters[82]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[82]/o $/atom:Waters[82]/h1
$/bond:Waters[82]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[82]/o $/atom:Waters[82]/h2
$/bond:Waters[83]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[83]/o $/atom:Waters[83]/h1
$/bond:Waters[83]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[83]/o $/atom:Waters[83]/h2
$/bond:Waters[84]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[84]/o $/atom:Waters[84]/h1
$/bond:Waters[84]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[84]/o $/atom:Waters[84]/h2
$/bond:Waters[85]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[85]/o $/atom:Waters[85]/h1
$/bond:Waters[85]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[85]/o $/atom:Waters[85]/h2
$/bond:Waters[86]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[86]/o $/atom:Waters[86]/h1
$/bond:Waters[86]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[86]/o $/atom:Waters[86]/h2
$/bond:Waters[87]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[87]/o $/atom:Waters[87]/h1
$/bond:Waters[87]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[87]/o $/atom:Waters[87]/h2
$/bond:Waters[88]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[88]/o $/atom:Waters[88]/h1
$/bond:Waters[88]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[88]/o $/atom:Waters[88]/h2
$/bond:Waters[89]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[89]/o $/atom:Waters[89]/h1
$/bond:Waters[89]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[89]/o $/atom:Waters[89]/h2
$/bond:Waters[90]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[90]/o $/atom:Waters[90]/h1
$/bond:Waters[90]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[90]/o $/atom:Waters[90]/h2
$/bond:Waters[91]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[91]/o $/atom:Waters[91]/h1
$/bond:Waters[91]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[91]/o $/atom:Waters[91]/h2
$/bond:Waters[92]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[92]/o $/atom:Waters[92]/h1
$/bond:Waters[92]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[92]/o $/atom:Waters[92]/h2
$/bond:Waters[93]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[93]/o $/atom:Waters[93]/h1
$/bond:Waters[93]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[93]/o $/atom:Waters[93]/h2
$/bond:Waters[94]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[94]/o $/atom:Waters[94]/h1
$/bond:Waters[94]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[94]/o $/atom:Waters[94]/h2
$/bond:Waters[95]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[95]/o $/atom:Waters[95]/h1
$/bond:Waters[95]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[95]/o $/atom:Waters[95]/h2
$/bond:Waters[96]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[96]/o $/atom:Waters[96]/h1
$/bond:Waters[96]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[96]/o $/atom:Waters[96]/h2
$/bond:Waters[97]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[97]/o $/atom:Waters[97]/h1
$/bond:Waters[97]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[97]/o $/atom:Waters[97]/h2
$/bond:Waters[98]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[98]/o $/atom:Waters[98]/h1
$/bond:Waters[98]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[98]/o $/atom:Waters[98]/h2
$/bond:Waters[99]/oh1 @/bond:OPLSAA/tipO_tipH $/atom:Waters[99]/o $/atom:Waters[99]/h1
$/bond:Waters[99]/oh2 @/bond:OPLSAA/tipO_tipH $/atom:Waters[99]/o $/atom:Waters[99]/h2
  $/bond:CO2ads[0]/id1 @/bond:CO2/CO2_C_O $/atom:CO2ads[0]/type2 $/atom:CO2ads[0]/type1
  $/bond:CO2ads[0]/id2 @/bond:CO2/CO2_C_O $/atom:CO2ads[0]/type3 $/atom:CO2ads[0]/type1
  $/bond:SO4[0]/id1 @/bond:sulfate/SO4_S_O $/atom:SO4[0]/type2 $/atom:SO4[0]/type1
  $/bond:SO4[0]/id2 @/bond:sulfate/SO4_S_O $/atom:SO4[0]/type3 $/atom:SO4[0]/type1
  $/bond:SO4[0]/id3 @/bond:sulfate/SO4_S_O $/atom:SO4[0]/type4 $/atom:SO4[0]/type1
  $/bond:SO4[0]/id4 @/bond:sulfate/SO4_S_O $/atom:SO4[0]/type5 $/atom:SO4[0]/type1
  $/bond:SO4[1]/id1 @/bond:sulfate/SO4_S_O $/atom:SO4[1]/type2 $/atom:SO4[1]/type1
  $/bond:SO4[1]/id2 @/bond:sulfate/SO4_S_O $/atom:SO4[1]/type3 $/atom:SO4[1]/type1
  $/bond:SO4[1]/id3 @/bond:sulfate/SO4_S_O $/atom:SO4[1]/type4 $/atom:SO4[1]/type1
  $/bond:SO4[1]/id4 @/bond:sulfate/SO4_S_O $/atom:SO4[1]/type5 $/atom:SO4[1]/type1
  $/bond:SO4[2]/id1 @/bond:sulfate/SO4_S_O $/atom:SO4[2]/type2 $/atom:SO4[2]/type1
  $/bond:SO4[2]/id2 @/bond:sulfate/SO4_S_O $/atom:SO4[2]/type3 $/atom:SO4[2]/type1
  $/bond:SO4[2]/id3 @/bond:sulfate/SO4_S_O $/atom:SO4[2]/type4 $/atom:SO4[2]/type1
  $/bond:SO4[2]/id4 @/bond:sulfate/SO4_S_O $/atom:SO4[2]/type5 $/atom:SO4[2]/type1
  $/bond:SO4[3]/id1 @/bond:sulfate/SO4_S_O $/atom:SO4[3]/type2 $/atom:SO4[3]/type1
  $/bond:SO4[3]/id2 @/bond:sulfate/SO4_S_O $/atom:SO4[3]/type3 $/atom:SO4[3]/type1
  $/bond:SO4[3]/id3 @/bond:sulfate/SO4_S_O $/atom:SO4[3]/type4 $/atom:SO4[3]/type1
  $/bond:SO4[3]/id4 @/bond:sulfate/SO4_S_O $/atom:SO4[3]/type5 $/atom:SO4[3]/type1
