@/atom:TIP3P/9999 15.9994  # 9999
@/atom:TIP3P/9998 1.0080  # 9998
@/atom:Methane/METHANE_type1 12.011  # METHANE_type1
@/atom:Methane/METHANE_type2 1.008  # METHANE_type2
@/atom:Methane/METHANE_type3 1.008  # METHANE_type3
@/atom:Methane/METHANE_type4 1.008  # METHANE_type4
@/atom:Methane/METHANE_type5 1.008  # METHANE_type5
