  $/bond:Ethylene[0]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[0]/type2 $/atom:Ethylene[0]/type1
  $/bond:Ethylene[0]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[0]/type3 $/atom:Ethylene[0]/type1
  $/bond:Ethylene[0]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[0]/type4 $/atom:Ethylene[0]/type1
  $/bond:Ethylene[0]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[0]/type5 $/atom:Ethylene[0]/type2
  $/bond:Ethylene[0]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[0]/type6 $/atom:Ethylene[0]/type2
  $/bond:Ethylene[1]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[1]/type2 $/atom:Ethylene[1]/type1
  $/bond:Ethylene[1]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[1]/type3 $/atom:Ethylene[1]/type1
  $/bond:Ethylene[1]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[1]/type4 $/atom:Ethylene[1]/type1
  $/bond:Ethylene[1]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[1]/type5 $/atom:Ethylene[1]/type2
  $/bond:Ethylene[1]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[1]/type6 $/atom:Ethylene[1]/type2
  $/bond:Ethylene[2]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[2]/type2 $/atom:Ethylene[2]/type1
  $/bond:Ethylene[2]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[2]/type3 $/atom:Ethylene[2]/type1
  $/bond:Ethylene[2]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[2]/type4 $/atom:Ethylene[2]/type1
  $/bond:Ethylene[2]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[2]/type5 $/atom:Ethylene[2]/type2
  $/bond:Ethylene[2]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[2]/type6 $/atom:Ethylene[2]/type2
  $/bond:Ethylene[3]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[3]/type2 $/atom:Ethylene[3]/type1
  $/bond:Ethylene[3]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[3]/type3 $/atom:Ethylene[3]/type1
  $/bond:Ethylene[3]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[3]/type4 $/atom:Ethylene[3]/type1
  $/bond:Ethylene[3]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[3]/type5 $/atom:Ethylene[3]/type2
  $/bond:Ethylene[3]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[3]/type6 $/atom:Ethylene[3]/type2
  $/bond:Ethylene[4]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[4]/type2 $/atom:Ethylene[4]/type1
  $/bond:Ethylene[4]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[4]/type3 $/atom:Ethylene[4]/type1
  $/bond:Ethylene[4]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[4]/type4 $/atom:Ethylene[4]/type1
  $/bond:Ethylene[4]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[4]/type5 $/atom:Ethylene[4]/type2
  $/bond:Ethylene[4]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[4]/type6 $/atom:Ethylene[4]/type2
  $/bond:Ethylene[5]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[5]/type2 $/atom:Ethylene[5]/type1
  $/bond:Ethylene[5]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[5]/type3 $/atom:Ethylene[5]/type1
  $/bond:Ethylene[5]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[5]/type4 $/atom:Ethylene[5]/type1
  $/bond:Ethylene[5]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[5]/type5 $/atom:Ethylene[5]/type2
  $/bond:Ethylene[5]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[5]/type6 $/atom:Ethylene[5]/type2
  $/bond:Ethylene[6]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[6]/type2 $/atom:Ethylene[6]/type1
  $/bond:Ethylene[6]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[6]/type3 $/atom:Ethylene[6]/type1
  $/bond:Ethylene[6]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[6]/type4 $/atom:Ethylene[6]/type1
  $/bond:Ethylene[6]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[6]/type5 $/atom:Ethylene[6]/type2
  $/bond:Ethylene[6]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[6]/type6 $/atom:Ethylene[6]/type2
  $/bond:Ethylene[7]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[7]/type2 $/atom:Ethylene[7]/type1
  $/bond:Ethylene[7]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[7]/type3 $/atom:Ethylene[7]/type1
  $/bond:Ethylene[7]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[7]/type4 $/atom:Ethylene[7]/type1
  $/bond:Ethylene[7]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[7]/type5 $/atom:Ethylene[7]/type2
  $/bond:Ethylene[7]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[7]/type6 $/atom:Ethylene[7]/type2
  $/bond:Ethylene[8]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[8]/type2 $/atom:Ethylene[8]/type1
  $/bond:Ethylene[8]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[8]/type3 $/atom:Ethylene[8]/type1
  $/bond:Ethylene[8]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[8]/type4 $/atom:Ethylene[8]/type1
  $/bond:Ethylene[8]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[8]/type5 $/atom:Ethylene[8]/type2
  $/bond:Ethylene[8]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[8]/type6 $/atom:Ethylene[8]/type2
  $/bond:Ethylene[9]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[9]/type2 $/atom:Ethylene[9]/type1
  $/bond:Ethylene[9]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[9]/type3 $/atom:Ethylene[9]/type1
  $/bond:Ethylene[9]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[9]/type4 $/atom:Ethylene[9]/type1
  $/bond:Ethylene[9]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[9]/type5 $/atom:Ethylene[9]/type2
  $/bond:Ethylene[9]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[9]/type6 $/atom:Ethylene[9]/type2
  $/bond:Ethylene[10]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[10]/type2 $/atom:Ethylene[10]/type1
  $/bond:Ethylene[10]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[10]/type3 $/atom:Ethylene[10]/type1
  $/bond:Ethylene[10]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[10]/type4 $/atom:Ethylene[10]/type1
  $/bond:Ethylene[10]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[10]/type5 $/atom:Ethylene[10]/type2
  $/bond:Ethylene[10]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[10]/type6 $/atom:Ethylene[10]/type2
  $/bond:Ethylene[11]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[11]/type2 $/atom:Ethylene[11]/type1
  $/bond:Ethylene[11]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[11]/type3 $/atom:Ethylene[11]/type1
  $/bond:Ethylene[11]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[11]/type4 $/atom:Ethylene[11]/type1
  $/bond:Ethylene[11]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[11]/type5 $/atom:Ethylene[11]/type2
  $/bond:Ethylene[11]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[11]/type6 $/atom:Ethylene[11]/type2
  $/bond:Ethylene[12]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[12]/type2 $/atom:Ethylene[12]/type1
  $/bond:Ethylene[12]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[12]/type3 $/atom:Ethylene[12]/type1
  $/bond:Ethylene[12]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[12]/type4 $/atom:Ethylene[12]/type1
  $/bond:Ethylene[12]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[12]/type5 $/atom:Ethylene[12]/type2
  $/bond:Ethylene[12]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[12]/type6 $/atom:Ethylene[12]/type2
  $/bond:Ethylene[13]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[13]/type2 $/atom:Ethylene[13]/type1
  $/bond:Ethylene[13]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[13]/type3 $/atom:Ethylene[13]/type1
  $/bond:Ethylene[13]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[13]/type4 $/atom:Ethylene[13]/type1
  $/bond:Ethylene[13]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[13]/type5 $/atom:Ethylene[13]/type2
  $/bond:Ethylene[13]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[13]/type6 $/atom:Ethylene[13]/type2
  $/bond:Ethylene[14]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[14]/type2 $/atom:Ethylene[14]/type1
  $/bond:Ethylene[14]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[14]/type3 $/atom:Ethylene[14]/type1
  $/bond:Ethylene[14]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[14]/type4 $/atom:Ethylene[14]/type1
  $/bond:Ethylene[14]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[14]/type5 $/atom:Ethylene[14]/type2
  $/bond:Ethylene[14]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[14]/type6 $/atom:Ethylene[14]/type2
  $/bond:Ethylene[15]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[15]/type2 $/atom:Ethylene[15]/type1
  $/bond:Ethylene[15]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[15]/type3 $/atom:Ethylene[15]/type1
  $/bond:Ethylene[15]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[15]/type4 $/atom:Ethylene[15]/type1
  $/bond:Ethylene[15]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[15]/type5 $/atom:Ethylene[15]/type2
  $/bond:Ethylene[15]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[15]/type6 $/atom:Ethylene[15]/type2
  $/bond:Ethylene[16]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[16]/type2 $/atom:Ethylene[16]/type1
  $/bond:Ethylene[16]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[16]/type3 $/atom:Ethylene[16]/type1
  $/bond:Ethylene[16]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[16]/type4 $/atom:Ethylene[16]/type1
  $/bond:Ethylene[16]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[16]/type5 $/atom:Ethylene[16]/type2
  $/bond:Ethylene[16]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[16]/type6 $/atom:Ethylene[16]/type2
  $/bond:Ethylene[17]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[17]/type2 $/atom:Ethylene[17]/type1
  $/bond:Ethylene[17]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[17]/type3 $/atom:Ethylene[17]/type1
  $/bond:Ethylene[17]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[17]/type4 $/atom:Ethylene[17]/type1
  $/bond:Ethylene[17]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[17]/type5 $/atom:Ethylene[17]/type2
  $/bond:Ethylene[17]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[17]/type6 $/atom:Ethylene[17]/type2
  $/bond:Ethylene[18]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[18]/type2 $/atom:Ethylene[18]/type1
  $/bond:Ethylene[18]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[18]/type3 $/atom:Ethylene[18]/type1
  $/bond:Ethylene[18]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[18]/type4 $/atom:Ethylene[18]/type1
  $/bond:Ethylene[18]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[18]/type5 $/atom:Ethylene[18]/type2
  $/bond:Ethylene[18]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[18]/type6 $/atom:Ethylene[18]/type2
  $/bond:Ethylene[19]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[19]/type2 $/atom:Ethylene[19]/type1
  $/bond:Ethylene[19]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[19]/type3 $/atom:Ethylene[19]/type1
  $/bond:Ethylene[19]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[19]/type4 $/atom:Ethylene[19]/type1
  $/bond:Ethylene[19]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[19]/type5 $/atom:Ethylene[19]/type2
  $/bond:Ethylene[19]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[19]/type6 $/atom:Ethylene[19]/type2
  $/bond:Ethylene[20]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[20]/type2 $/atom:Ethylene[20]/type1
  $/bond:Ethylene[20]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[20]/type3 $/atom:Ethylene[20]/type1
  $/bond:Ethylene[20]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[20]/type4 $/atom:Ethylene[20]/type1
  $/bond:Ethylene[20]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[20]/type5 $/atom:Ethylene[20]/type2
  $/bond:Ethylene[20]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[20]/type6 $/atom:Ethylene[20]/type2
  $/bond:Ethylene[21]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[21]/type2 $/atom:Ethylene[21]/type1
  $/bond:Ethylene[21]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[21]/type3 $/atom:Ethylene[21]/type1
  $/bond:Ethylene[21]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[21]/type4 $/atom:Ethylene[21]/type1
  $/bond:Ethylene[21]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[21]/type5 $/atom:Ethylene[21]/type2
  $/bond:Ethylene[21]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[21]/type6 $/atom:Ethylene[21]/type2
  $/bond:Ethylene[22]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[22]/type2 $/atom:Ethylene[22]/type1
  $/bond:Ethylene[22]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[22]/type3 $/atom:Ethylene[22]/type1
  $/bond:Ethylene[22]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[22]/type4 $/atom:Ethylene[22]/type1
  $/bond:Ethylene[22]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[22]/type5 $/atom:Ethylene[22]/type2
  $/bond:Ethylene[22]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[22]/type6 $/atom:Ethylene[22]/type2
  $/bond:Ethylene[23]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[23]/type2 $/atom:Ethylene[23]/type1
  $/bond:Ethylene[23]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[23]/type3 $/atom:Ethylene[23]/type1
  $/bond:Ethylene[23]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[23]/type4 $/atom:Ethylene[23]/type1
  $/bond:Ethylene[23]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[23]/type5 $/atom:Ethylene[23]/type2
  $/bond:Ethylene[23]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[23]/type6 $/atom:Ethylene[23]/type2
  $/bond:Ethylene[24]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[24]/type2 $/atom:Ethylene[24]/type1
  $/bond:Ethylene[24]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[24]/type3 $/atom:Ethylene[24]/type1
  $/bond:Ethylene[24]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[24]/type4 $/atom:Ethylene[24]/type1
  $/bond:Ethylene[24]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[24]/type5 $/atom:Ethylene[24]/type2
  $/bond:Ethylene[24]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[24]/type6 $/atom:Ethylene[24]/type2
  $/bond:Ethylene[25]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[25]/type2 $/atom:Ethylene[25]/type1
  $/bond:Ethylene[25]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[25]/type3 $/atom:Ethylene[25]/type1
  $/bond:Ethylene[25]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[25]/type4 $/atom:Ethylene[25]/type1
  $/bond:Ethylene[25]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[25]/type5 $/atom:Ethylene[25]/type2
  $/bond:Ethylene[25]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[25]/type6 $/atom:Ethylene[25]/type2
  $/bond:Ethylene[26]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[26]/type2 $/atom:Ethylene[26]/type1
  $/bond:Ethylene[26]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[26]/type3 $/atom:Ethylene[26]/type1
  $/bond:Ethylene[26]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[26]/type4 $/atom:Ethylene[26]/type1
  $/bond:Ethylene[26]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[26]/type5 $/atom:Ethylene[26]/type2
  $/bond:Ethylene[26]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[26]/type6 $/atom:Ethylene[26]/type2
  $/bond:Ethylene[27]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[27]/type2 $/atom:Ethylene[27]/type1
  $/bond:Ethylene[27]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[27]/type3 $/atom:Ethylene[27]/type1
  $/bond:Ethylene[27]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[27]/type4 $/atom:Ethylene[27]/type1
  $/bond:Ethylene[27]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[27]/type5 $/atom:Ethylene[27]/type2
  $/bond:Ethylene[27]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[27]/type6 $/atom:Ethylene[27]/type2
  $/bond:Ethylene[28]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[28]/type2 $/atom:Ethylene[28]/type1
  $/bond:Ethylene[28]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[28]/type3 $/atom:Ethylene[28]/type1
  $/bond:Ethylene[28]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[28]/type4 $/atom:Ethylene[28]/type1
  $/bond:Ethylene[28]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[28]/type5 $/atom:Ethylene[28]/type2
  $/bond:Ethylene[28]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[28]/type6 $/atom:Ethylene[28]/type2
  $/bond:Ethylene[29]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[29]/type2 $/atom:Ethylene[29]/type1
  $/bond:Ethylene[29]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[29]/type3 $/atom:Ethylene[29]/type1
  $/bond:Ethylene[29]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[29]/type4 $/atom:Ethylene[29]/type1
  $/bond:Ethylene[29]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[29]/type5 $/atom:Ethylene[29]/type2
  $/bond:Ethylene[29]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[29]/type6 $/atom:Ethylene[29]/type2
  $/bond:Ethylene[30]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[30]/type2 $/atom:Ethylene[30]/type1
  $/bond:Ethylene[30]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[30]/type3 $/atom:Ethylene[30]/type1
  $/bond:Ethylene[30]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[30]/type4 $/atom:Ethylene[30]/type1
  $/bond:Ethylene[30]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[30]/type5 $/atom:Ethylene[30]/type2
  $/bond:Ethylene[30]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[30]/type6 $/atom:Ethylene[30]/type2
  $/bond:Ethylene[31]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[31]/type2 $/atom:Ethylene[31]/type1
  $/bond:Ethylene[31]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[31]/type3 $/atom:Ethylene[31]/type1
  $/bond:Ethylene[31]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[31]/type4 $/atom:Ethylene[31]/type1
  $/bond:Ethylene[31]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[31]/type5 $/atom:Ethylene[31]/type2
  $/bond:Ethylene[31]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[31]/type6 $/atom:Ethylene[31]/type2
  $/bond:Ethylene[32]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[32]/type2 $/atom:Ethylene[32]/type1
  $/bond:Ethylene[32]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[32]/type3 $/atom:Ethylene[32]/type1
  $/bond:Ethylene[32]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[32]/type4 $/atom:Ethylene[32]/type1
  $/bond:Ethylene[32]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[32]/type5 $/atom:Ethylene[32]/type2
  $/bond:Ethylene[32]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[32]/type6 $/atom:Ethylene[32]/type2
  $/bond:Ethylene[33]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[33]/type2 $/atom:Ethylene[33]/type1
  $/bond:Ethylene[33]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[33]/type3 $/atom:Ethylene[33]/type1
  $/bond:Ethylene[33]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[33]/type4 $/atom:Ethylene[33]/type1
  $/bond:Ethylene[33]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[33]/type5 $/atom:Ethylene[33]/type2
  $/bond:Ethylene[33]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[33]/type6 $/atom:Ethylene[33]/type2
  $/bond:Ethylene[34]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[34]/type2 $/atom:Ethylene[34]/type1
  $/bond:Ethylene[34]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[34]/type3 $/atom:Ethylene[34]/type1
  $/bond:Ethylene[34]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[34]/type4 $/atom:Ethylene[34]/type1
  $/bond:Ethylene[34]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[34]/type5 $/atom:Ethylene[34]/type2
  $/bond:Ethylene[34]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[34]/type6 $/atom:Ethylene[34]/type2
  $/bond:Ethylene[35]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[35]/type2 $/atom:Ethylene[35]/type1
  $/bond:Ethylene[35]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[35]/type3 $/atom:Ethylene[35]/type1
  $/bond:Ethylene[35]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[35]/type4 $/atom:Ethylene[35]/type1
  $/bond:Ethylene[35]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[35]/type5 $/atom:Ethylene[35]/type2
  $/bond:Ethylene[35]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[35]/type6 $/atom:Ethylene[35]/type2
  $/bond:Ethylene[36]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[36]/type2 $/atom:Ethylene[36]/type1
  $/bond:Ethylene[36]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[36]/type3 $/atom:Ethylene[36]/type1
  $/bond:Ethylene[36]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[36]/type4 $/atom:Ethylene[36]/type1
  $/bond:Ethylene[36]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[36]/type5 $/atom:Ethylene[36]/type2
  $/bond:Ethylene[36]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[36]/type6 $/atom:Ethylene[36]/type2
  $/bond:Ethylene[37]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[37]/type2 $/atom:Ethylene[37]/type1
  $/bond:Ethylene[37]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[37]/type3 $/atom:Ethylene[37]/type1
  $/bond:Ethylene[37]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[37]/type4 $/atom:Ethylene[37]/type1
  $/bond:Ethylene[37]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[37]/type5 $/atom:Ethylene[37]/type2
  $/bond:Ethylene[37]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[37]/type6 $/atom:Ethylene[37]/type2
  $/bond:Ethylene[38]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[38]/type2 $/atom:Ethylene[38]/type1
  $/bond:Ethylene[38]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[38]/type3 $/atom:Ethylene[38]/type1
  $/bond:Ethylene[38]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[38]/type4 $/atom:Ethylene[38]/type1
  $/bond:Ethylene[38]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[38]/type5 $/atom:Ethylene[38]/type2
  $/bond:Ethylene[38]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[38]/type6 $/atom:Ethylene[38]/type2
  $/bond:Ethylene[39]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[39]/type2 $/atom:Ethylene[39]/type1
  $/bond:Ethylene[39]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[39]/type3 $/atom:Ethylene[39]/type1
  $/bond:Ethylene[39]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[39]/type4 $/atom:Ethylene[39]/type1
  $/bond:Ethylene[39]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[39]/type5 $/atom:Ethylene[39]/type2
  $/bond:Ethylene[39]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[39]/type6 $/atom:Ethylene[39]/type2
  $/bond:Ethylene[40]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[40]/type2 $/atom:Ethylene[40]/type1
  $/bond:Ethylene[40]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[40]/type3 $/atom:Ethylene[40]/type1
  $/bond:Ethylene[40]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[40]/type4 $/atom:Ethylene[40]/type1
  $/bond:Ethylene[40]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[40]/type5 $/atom:Ethylene[40]/type2
  $/bond:Ethylene[40]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[40]/type6 $/atom:Ethylene[40]/type2
  $/bond:Ethylene[41]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[41]/type2 $/atom:Ethylene[41]/type1
  $/bond:Ethylene[41]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[41]/type3 $/atom:Ethylene[41]/type1
  $/bond:Ethylene[41]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[41]/type4 $/atom:Ethylene[41]/type1
  $/bond:Ethylene[41]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[41]/type5 $/atom:Ethylene[41]/type2
  $/bond:Ethylene[41]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[41]/type6 $/atom:Ethylene[41]/type2
  $/bond:Ethylene[42]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[42]/type2 $/atom:Ethylene[42]/type1
  $/bond:Ethylene[42]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[42]/type3 $/atom:Ethylene[42]/type1
  $/bond:Ethylene[42]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[42]/type4 $/atom:Ethylene[42]/type1
  $/bond:Ethylene[42]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[42]/type5 $/atom:Ethylene[42]/type2
  $/bond:Ethylene[42]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[42]/type6 $/atom:Ethylene[42]/type2
  $/bond:Ethylene[43]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[43]/type2 $/atom:Ethylene[43]/type1
  $/bond:Ethylene[43]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[43]/type3 $/atom:Ethylene[43]/type1
  $/bond:Ethylene[43]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[43]/type4 $/atom:Ethylene[43]/type1
  $/bond:Ethylene[43]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[43]/type5 $/atom:Ethylene[43]/type2
  $/bond:Ethylene[43]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[43]/type6 $/atom:Ethylene[43]/type2
  $/bond:Ethylene[44]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[44]/type2 $/atom:Ethylene[44]/type1
  $/bond:Ethylene[44]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[44]/type3 $/atom:Ethylene[44]/type1
  $/bond:Ethylene[44]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[44]/type4 $/atom:Ethylene[44]/type1
  $/bond:Ethylene[44]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[44]/type5 $/atom:Ethylene[44]/type2
  $/bond:Ethylene[44]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[44]/type6 $/atom:Ethylene[44]/type2
  $/bond:Ethylene[45]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[45]/type2 $/atom:Ethylene[45]/type1
  $/bond:Ethylene[45]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[45]/type3 $/atom:Ethylene[45]/type1
  $/bond:Ethylene[45]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[45]/type4 $/atom:Ethylene[45]/type1
  $/bond:Ethylene[45]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[45]/type5 $/atom:Ethylene[45]/type2
  $/bond:Ethylene[45]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[45]/type6 $/atom:Ethylene[45]/type2
  $/bond:Ethylene[46]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[46]/type2 $/atom:Ethylene[46]/type1
  $/bond:Ethylene[46]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[46]/type3 $/atom:Ethylene[46]/type1
  $/bond:Ethylene[46]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[46]/type4 $/atom:Ethylene[46]/type1
  $/bond:Ethylene[46]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[46]/type5 $/atom:Ethylene[46]/type2
  $/bond:Ethylene[46]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[46]/type6 $/atom:Ethylene[46]/type2
  $/bond:Ethylene[47]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[47]/type2 $/atom:Ethylene[47]/type1
  $/bond:Ethylene[47]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[47]/type3 $/atom:Ethylene[47]/type1
  $/bond:Ethylene[47]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[47]/type4 $/atom:Ethylene[47]/type1
  $/bond:Ethylene[47]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[47]/type5 $/atom:Ethylene[47]/type2
  $/bond:Ethylene[47]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[47]/type6 $/atom:Ethylene[47]/type2
  $/bond:Ethylene[48]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[48]/type2 $/atom:Ethylene[48]/type1
  $/bond:Ethylene[48]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[48]/type3 $/atom:Ethylene[48]/type1
  $/bond:Ethylene[48]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[48]/type4 $/atom:Ethylene[48]/type1
  $/bond:Ethylene[48]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[48]/type5 $/atom:Ethylene[48]/type2
  $/bond:Ethylene[48]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[48]/type6 $/atom:Ethylene[48]/type2
  $/bond:Ethylene[49]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[49]/type2 $/atom:Ethylene[49]/type1
  $/bond:Ethylene[49]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[49]/type3 $/atom:Ethylene[49]/type1
  $/bond:Ethylene[49]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[49]/type4 $/atom:Ethylene[49]/type1
  $/bond:Ethylene[49]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[49]/type5 $/atom:Ethylene[49]/type2
  $/bond:Ethylene[49]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[49]/type6 $/atom:Ethylene[49]/type2
  $/bond:Ethylene[50]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[50]/type2 $/atom:Ethylene[50]/type1
  $/bond:Ethylene[50]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[50]/type3 $/atom:Ethylene[50]/type1
  $/bond:Ethylene[50]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[50]/type4 $/atom:Ethylene[50]/type1
  $/bond:Ethylene[50]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[50]/type5 $/atom:Ethylene[50]/type2
  $/bond:Ethylene[50]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[50]/type6 $/atom:Ethylene[50]/type2
  $/bond:Ethylene[51]/id1 @/bond:Ethylene/ETHYLENE_type1 $/atom:Ethylene[51]/type2 $/atom:Ethylene[51]/type1
  $/bond:Ethylene[51]/id2 @/bond:Ethylene/ETHYLENE_type2 $/atom:Ethylene[51]/type3 $/atom:Ethylene[51]/type1
  $/bond:Ethylene[51]/id3 @/bond:Ethylene/ETHYLENE_type3 $/atom:Ethylene[51]/type4 $/atom:Ethylene[51]/type1
  $/bond:Ethylene[51]/id4 @/bond:Ethylene/ETHYLENE_type4 $/atom:Ethylene[51]/type5 $/atom:Ethylene[51]/type2
  $/bond:Ethylene[51]/id5 @/bond:Ethylene/ETHYLENE_type5 $/atom:Ethylene[51]/type6 $/atom:Ethylene[51]/type2
  $/bond:Benzene[0]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[0]/type4 $/atom:Benzene[0]/type6
  $/bond:Benzene[0]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[0]/type5 $/atom:Benzene[0]/type6
  $/bond:Benzene[0]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[0]/type2 $/atom:Benzene[0]/type4
  $/bond:Benzene[0]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[0]/type3 $/atom:Benzene[0]/type5
  $/bond:Benzene[0]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[0]/type1 $/atom:Benzene[0]/type3
  $/bond:Benzene[0]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[0]/type7 $/atom:Benzene[0]/type1
  $/bond:Benzene[0]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[0]/type8 $/atom:Benzene[0]/type2
  $/bond:Benzene[0]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[0]/type9 $/atom:Benzene[0]/type3
  $/bond:Benzene[0]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[0]/type10 $/atom:Benzene[0]/type4
  $/bond:Benzene[0]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[0]/type11 $/atom:Benzene[0]/type5
  $/bond:Benzene[0]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[0]/type12 $/atom:Benzene[0]/type6
  $/bond:Benzene[0]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[0]/type1 $/atom:Benzene[0]/type2
  $/bond:Benzene[1]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[1]/type4 $/atom:Benzene[1]/type6
  $/bond:Benzene[1]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[1]/type5 $/atom:Benzene[1]/type6
  $/bond:Benzene[1]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[1]/type2 $/atom:Benzene[1]/type4
  $/bond:Benzene[1]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[1]/type3 $/atom:Benzene[1]/type5
  $/bond:Benzene[1]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[1]/type1 $/atom:Benzene[1]/type3
  $/bond:Benzene[1]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[1]/type7 $/atom:Benzene[1]/type1
  $/bond:Benzene[1]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[1]/type8 $/atom:Benzene[1]/type2
  $/bond:Benzene[1]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[1]/type9 $/atom:Benzene[1]/type3
  $/bond:Benzene[1]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[1]/type10 $/atom:Benzene[1]/type4
  $/bond:Benzene[1]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[1]/type11 $/atom:Benzene[1]/type5
  $/bond:Benzene[1]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[1]/type12 $/atom:Benzene[1]/type6
  $/bond:Benzene[1]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[1]/type1 $/atom:Benzene[1]/type2
  $/bond:Benzene[2]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[2]/type4 $/atom:Benzene[2]/type6
  $/bond:Benzene[2]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[2]/type5 $/atom:Benzene[2]/type6
  $/bond:Benzene[2]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[2]/type2 $/atom:Benzene[2]/type4
  $/bond:Benzene[2]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[2]/type3 $/atom:Benzene[2]/type5
  $/bond:Benzene[2]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[2]/type1 $/atom:Benzene[2]/type3
  $/bond:Benzene[2]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[2]/type7 $/atom:Benzene[2]/type1
  $/bond:Benzene[2]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[2]/type8 $/atom:Benzene[2]/type2
  $/bond:Benzene[2]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[2]/type9 $/atom:Benzene[2]/type3
  $/bond:Benzene[2]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[2]/type10 $/atom:Benzene[2]/type4
  $/bond:Benzene[2]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[2]/type11 $/atom:Benzene[2]/type5
  $/bond:Benzene[2]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[2]/type12 $/atom:Benzene[2]/type6
  $/bond:Benzene[2]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[2]/type1 $/atom:Benzene[2]/type2
  $/bond:Benzene[3]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[3]/type4 $/atom:Benzene[3]/type6
  $/bond:Benzene[3]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[3]/type5 $/atom:Benzene[3]/type6
  $/bond:Benzene[3]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[3]/type2 $/atom:Benzene[3]/type4
  $/bond:Benzene[3]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[3]/type3 $/atom:Benzene[3]/type5
  $/bond:Benzene[3]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[3]/type1 $/atom:Benzene[3]/type3
  $/bond:Benzene[3]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[3]/type7 $/atom:Benzene[3]/type1
  $/bond:Benzene[3]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[3]/type8 $/atom:Benzene[3]/type2
  $/bond:Benzene[3]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[3]/type9 $/atom:Benzene[3]/type3
  $/bond:Benzene[3]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[3]/type10 $/atom:Benzene[3]/type4
  $/bond:Benzene[3]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[3]/type11 $/atom:Benzene[3]/type5
  $/bond:Benzene[3]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[3]/type12 $/atom:Benzene[3]/type6
  $/bond:Benzene[3]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[3]/type1 $/atom:Benzene[3]/type2
  $/bond:Benzene[4]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[4]/type4 $/atom:Benzene[4]/type6
  $/bond:Benzene[4]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[4]/type5 $/atom:Benzene[4]/type6
  $/bond:Benzene[4]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[4]/type2 $/atom:Benzene[4]/type4
  $/bond:Benzene[4]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[4]/type3 $/atom:Benzene[4]/type5
  $/bond:Benzene[4]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[4]/type1 $/atom:Benzene[4]/type3
  $/bond:Benzene[4]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[4]/type7 $/atom:Benzene[4]/type1
  $/bond:Benzene[4]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[4]/type8 $/atom:Benzene[4]/type2
  $/bond:Benzene[4]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[4]/type9 $/atom:Benzene[4]/type3
  $/bond:Benzene[4]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[4]/type10 $/atom:Benzene[4]/type4
  $/bond:Benzene[4]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[4]/type11 $/atom:Benzene[4]/type5
  $/bond:Benzene[4]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[4]/type12 $/atom:Benzene[4]/type6
  $/bond:Benzene[4]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[4]/type1 $/atom:Benzene[4]/type2
  $/bond:Benzene[5]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[5]/type4 $/atom:Benzene[5]/type6
  $/bond:Benzene[5]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[5]/type5 $/atom:Benzene[5]/type6
  $/bond:Benzene[5]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[5]/type2 $/atom:Benzene[5]/type4
  $/bond:Benzene[5]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[5]/type3 $/atom:Benzene[5]/type5
  $/bond:Benzene[5]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[5]/type1 $/atom:Benzene[5]/type3
  $/bond:Benzene[5]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[5]/type7 $/atom:Benzene[5]/type1
  $/bond:Benzene[5]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[5]/type8 $/atom:Benzene[5]/type2
  $/bond:Benzene[5]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[5]/type9 $/atom:Benzene[5]/type3
  $/bond:Benzene[5]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[5]/type10 $/atom:Benzene[5]/type4
  $/bond:Benzene[5]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[5]/type11 $/atom:Benzene[5]/type5
  $/bond:Benzene[5]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[5]/type12 $/atom:Benzene[5]/type6
  $/bond:Benzene[5]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[5]/type1 $/atom:Benzene[5]/type2
  $/bond:Benzene[6]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[6]/type4 $/atom:Benzene[6]/type6
  $/bond:Benzene[6]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[6]/type5 $/atom:Benzene[6]/type6
  $/bond:Benzene[6]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[6]/type2 $/atom:Benzene[6]/type4
  $/bond:Benzene[6]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[6]/type3 $/atom:Benzene[6]/type5
  $/bond:Benzene[6]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[6]/type1 $/atom:Benzene[6]/type3
  $/bond:Benzene[6]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[6]/type7 $/atom:Benzene[6]/type1
  $/bond:Benzene[6]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[6]/type8 $/atom:Benzene[6]/type2
  $/bond:Benzene[6]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[6]/type9 $/atom:Benzene[6]/type3
  $/bond:Benzene[6]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[6]/type10 $/atom:Benzene[6]/type4
  $/bond:Benzene[6]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[6]/type11 $/atom:Benzene[6]/type5
  $/bond:Benzene[6]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[6]/type12 $/atom:Benzene[6]/type6
  $/bond:Benzene[6]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[6]/type1 $/atom:Benzene[6]/type2
  $/bond:Benzene[7]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[7]/type4 $/atom:Benzene[7]/type6
  $/bond:Benzene[7]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[7]/type5 $/atom:Benzene[7]/type6
  $/bond:Benzene[7]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[7]/type2 $/atom:Benzene[7]/type4
  $/bond:Benzene[7]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[7]/type3 $/atom:Benzene[7]/type5
  $/bond:Benzene[7]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[7]/type1 $/atom:Benzene[7]/type3
  $/bond:Benzene[7]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[7]/type7 $/atom:Benzene[7]/type1
  $/bond:Benzene[7]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[7]/type8 $/atom:Benzene[7]/type2
  $/bond:Benzene[7]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[7]/type9 $/atom:Benzene[7]/type3
  $/bond:Benzene[7]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[7]/type10 $/atom:Benzene[7]/type4
  $/bond:Benzene[7]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[7]/type11 $/atom:Benzene[7]/type5
  $/bond:Benzene[7]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[7]/type12 $/atom:Benzene[7]/type6
  $/bond:Benzene[7]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[7]/type1 $/atom:Benzene[7]/type2
  $/bond:Benzene[8]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[8]/type4 $/atom:Benzene[8]/type6
  $/bond:Benzene[8]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[8]/type5 $/atom:Benzene[8]/type6
  $/bond:Benzene[8]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[8]/type2 $/atom:Benzene[8]/type4
  $/bond:Benzene[8]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[8]/type3 $/atom:Benzene[8]/type5
  $/bond:Benzene[8]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[8]/type1 $/atom:Benzene[8]/type3
  $/bond:Benzene[8]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[8]/type7 $/atom:Benzene[8]/type1
  $/bond:Benzene[8]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[8]/type8 $/atom:Benzene[8]/type2
  $/bond:Benzene[8]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[8]/type9 $/atom:Benzene[8]/type3
  $/bond:Benzene[8]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[8]/type10 $/atom:Benzene[8]/type4
  $/bond:Benzene[8]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[8]/type11 $/atom:Benzene[8]/type5
  $/bond:Benzene[8]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[8]/type12 $/atom:Benzene[8]/type6
  $/bond:Benzene[8]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[8]/type1 $/atom:Benzene[8]/type2
  $/bond:Benzene[9]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[9]/type4 $/atom:Benzene[9]/type6
  $/bond:Benzene[9]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[9]/type5 $/atom:Benzene[9]/type6
  $/bond:Benzene[9]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[9]/type2 $/atom:Benzene[9]/type4
  $/bond:Benzene[9]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[9]/type3 $/atom:Benzene[9]/type5
  $/bond:Benzene[9]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[9]/type1 $/atom:Benzene[9]/type3
  $/bond:Benzene[9]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[9]/type7 $/atom:Benzene[9]/type1
  $/bond:Benzene[9]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[9]/type8 $/atom:Benzene[9]/type2
  $/bond:Benzene[9]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[9]/type9 $/atom:Benzene[9]/type3
  $/bond:Benzene[9]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[9]/type10 $/atom:Benzene[9]/type4
  $/bond:Benzene[9]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[9]/type11 $/atom:Benzene[9]/type5
  $/bond:Benzene[9]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[9]/type12 $/atom:Benzene[9]/type6
  $/bond:Benzene[9]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[9]/type1 $/atom:Benzene[9]/type2
  $/bond:Benzene[10]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[10]/type4 $/atom:Benzene[10]/type6
  $/bond:Benzene[10]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[10]/type5 $/atom:Benzene[10]/type6
  $/bond:Benzene[10]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[10]/type2 $/atom:Benzene[10]/type4
  $/bond:Benzene[10]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[10]/type3 $/atom:Benzene[10]/type5
  $/bond:Benzene[10]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[10]/type1 $/atom:Benzene[10]/type3
  $/bond:Benzene[10]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[10]/type7 $/atom:Benzene[10]/type1
  $/bond:Benzene[10]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[10]/type8 $/atom:Benzene[10]/type2
  $/bond:Benzene[10]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[10]/type9 $/atom:Benzene[10]/type3
  $/bond:Benzene[10]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[10]/type10 $/atom:Benzene[10]/type4
  $/bond:Benzene[10]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[10]/type11 $/atom:Benzene[10]/type5
  $/bond:Benzene[10]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[10]/type12 $/atom:Benzene[10]/type6
  $/bond:Benzene[10]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[10]/type1 $/atom:Benzene[10]/type2
  $/bond:Benzene[11]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[11]/type4 $/atom:Benzene[11]/type6
  $/bond:Benzene[11]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[11]/type5 $/atom:Benzene[11]/type6
  $/bond:Benzene[11]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[11]/type2 $/atom:Benzene[11]/type4
  $/bond:Benzene[11]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[11]/type3 $/atom:Benzene[11]/type5
  $/bond:Benzene[11]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[11]/type1 $/atom:Benzene[11]/type3
  $/bond:Benzene[11]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[11]/type7 $/atom:Benzene[11]/type1
  $/bond:Benzene[11]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[11]/type8 $/atom:Benzene[11]/type2
  $/bond:Benzene[11]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[11]/type9 $/atom:Benzene[11]/type3
  $/bond:Benzene[11]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[11]/type10 $/atom:Benzene[11]/type4
  $/bond:Benzene[11]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[11]/type11 $/atom:Benzene[11]/type5
  $/bond:Benzene[11]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[11]/type12 $/atom:Benzene[11]/type6
  $/bond:Benzene[11]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[11]/type1 $/atom:Benzene[11]/type2
  $/bond:Benzene[12]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[12]/type4 $/atom:Benzene[12]/type6
  $/bond:Benzene[12]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[12]/type5 $/atom:Benzene[12]/type6
  $/bond:Benzene[12]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[12]/type2 $/atom:Benzene[12]/type4
  $/bond:Benzene[12]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[12]/type3 $/atom:Benzene[12]/type5
  $/bond:Benzene[12]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[12]/type1 $/atom:Benzene[12]/type3
  $/bond:Benzene[12]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[12]/type7 $/atom:Benzene[12]/type1
  $/bond:Benzene[12]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[12]/type8 $/atom:Benzene[12]/type2
  $/bond:Benzene[12]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[12]/type9 $/atom:Benzene[12]/type3
  $/bond:Benzene[12]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[12]/type10 $/atom:Benzene[12]/type4
  $/bond:Benzene[12]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[12]/type11 $/atom:Benzene[12]/type5
  $/bond:Benzene[12]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[12]/type12 $/atom:Benzene[12]/type6
  $/bond:Benzene[12]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[12]/type1 $/atom:Benzene[12]/type2
  $/bond:Benzene[13]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[13]/type4 $/atom:Benzene[13]/type6
  $/bond:Benzene[13]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[13]/type5 $/atom:Benzene[13]/type6
  $/bond:Benzene[13]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[13]/type2 $/atom:Benzene[13]/type4
  $/bond:Benzene[13]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[13]/type3 $/atom:Benzene[13]/type5
  $/bond:Benzene[13]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[13]/type1 $/atom:Benzene[13]/type3
  $/bond:Benzene[13]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[13]/type7 $/atom:Benzene[13]/type1
  $/bond:Benzene[13]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[13]/type8 $/atom:Benzene[13]/type2
  $/bond:Benzene[13]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[13]/type9 $/atom:Benzene[13]/type3
  $/bond:Benzene[13]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[13]/type10 $/atom:Benzene[13]/type4
  $/bond:Benzene[13]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[13]/type11 $/atom:Benzene[13]/type5
  $/bond:Benzene[13]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[13]/type12 $/atom:Benzene[13]/type6
  $/bond:Benzene[13]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[13]/type1 $/atom:Benzene[13]/type2
  $/bond:Benzene[14]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[14]/type4 $/atom:Benzene[14]/type6
  $/bond:Benzene[14]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[14]/type5 $/atom:Benzene[14]/type6
  $/bond:Benzene[14]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[14]/type2 $/atom:Benzene[14]/type4
  $/bond:Benzene[14]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[14]/type3 $/atom:Benzene[14]/type5
  $/bond:Benzene[14]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[14]/type1 $/atom:Benzene[14]/type3
  $/bond:Benzene[14]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[14]/type7 $/atom:Benzene[14]/type1
  $/bond:Benzene[14]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[14]/type8 $/atom:Benzene[14]/type2
  $/bond:Benzene[14]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[14]/type9 $/atom:Benzene[14]/type3
  $/bond:Benzene[14]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[14]/type10 $/atom:Benzene[14]/type4
  $/bond:Benzene[14]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[14]/type11 $/atom:Benzene[14]/type5
  $/bond:Benzene[14]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[14]/type12 $/atom:Benzene[14]/type6
  $/bond:Benzene[14]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[14]/type1 $/atom:Benzene[14]/type2
  $/bond:Benzene[15]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[15]/type4 $/atom:Benzene[15]/type6
  $/bond:Benzene[15]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[15]/type5 $/atom:Benzene[15]/type6
  $/bond:Benzene[15]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[15]/type2 $/atom:Benzene[15]/type4
  $/bond:Benzene[15]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[15]/type3 $/atom:Benzene[15]/type5
  $/bond:Benzene[15]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[15]/type1 $/atom:Benzene[15]/type3
  $/bond:Benzene[15]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[15]/type7 $/atom:Benzene[15]/type1
  $/bond:Benzene[15]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[15]/type8 $/atom:Benzene[15]/type2
  $/bond:Benzene[15]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[15]/type9 $/atom:Benzene[15]/type3
  $/bond:Benzene[15]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[15]/type10 $/atom:Benzene[15]/type4
  $/bond:Benzene[15]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[15]/type11 $/atom:Benzene[15]/type5
  $/bond:Benzene[15]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[15]/type12 $/atom:Benzene[15]/type6
  $/bond:Benzene[15]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[15]/type1 $/atom:Benzene[15]/type2
  $/bond:Benzene[16]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[16]/type4 $/atom:Benzene[16]/type6
  $/bond:Benzene[16]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[16]/type5 $/atom:Benzene[16]/type6
  $/bond:Benzene[16]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[16]/type2 $/atom:Benzene[16]/type4
  $/bond:Benzene[16]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[16]/type3 $/atom:Benzene[16]/type5
  $/bond:Benzene[16]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[16]/type1 $/atom:Benzene[16]/type3
  $/bond:Benzene[16]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[16]/type7 $/atom:Benzene[16]/type1
  $/bond:Benzene[16]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[16]/type8 $/atom:Benzene[16]/type2
  $/bond:Benzene[16]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[16]/type9 $/atom:Benzene[16]/type3
  $/bond:Benzene[16]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[16]/type10 $/atom:Benzene[16]/type4
  $/bond:Benzene[16]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[16]/type11 $/atom:Benzene[16]/type5
  $/bond:Benzene[16]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[16]/type12 $/atom:Benzene[16]/type6
  $/bond:Benzene[16]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[16]/type1 $/atom:Benzene[16]/type2
  $/bond:Benzene[17]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[17]/type4 $/atom:Benzene[17]/type6
  $/bond:Benzene[17]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[17]/type5 $/atom:Benzene[17]/type6
  $/bond:Benzene[17]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[17]/type2 $/atom:Benzene[17]/type4
  $/bond:Benzene[17]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[17]/type3 $/atom:Benzene[17]/type5
  $/bond:Benzene[17]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[17]/type1 $/atom:Benzene[17]/type3
  $/bond:Benzene[17]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[17]/type7 $/atom:Benzene[17]/type1
  $/bond:Benzene[17]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[17]/type8 $/atom:Benzene[17]/type2
  $/bond:Benzene[17]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[17]/type9 $/atom:Benzene[17]/type3
  $/bond:Benzene[17]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[17]/type10 $/atom:Benzene[17]/type4
  $/bond:Benzene[17]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[17]/type11 $/atom:Benzene[17]/type5
  $/bond:Benzene[17]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[17]/type12 $/atom:Benzene[17]/type6
  $/bond:Benzene[17]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[17]/type1 $/atom:Benzene[17]/type2
  $/bond:Benzene[18]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[18]/type4 $/atom:Benzene[18]/type6
  $/bond:Benzene[18]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[18]/type5 $/atom:Benzene[18]/type6
  $/bond:Benzene[18]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[18]/type2 $/atom:Benzene[18]/type4
  $/bond:Benzene[18]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[18]/type3 $/atom:Benzene[18]/type5
  $/bond:Benzene[18]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[18]/type1 $/atom:Benzene[18]/type3
  $/bond:Benzene[18]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[18]/type7 $/atom:Benzene[18]/type1
  $/bond:Benzene[18]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[18]/type8 $/atom:Benzene[18]/type2
  $/bond:Benzene[18]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[18]/type9 $/atom:Benzene[18]/type3
  $/bond:Benzene[18]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[18]/type10 $/atom:Benzene[18]/type4
  $/bond:Benzene[18]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[18]/type11 $/atom:Benzene[18]/type5
  $/bond:Benzene[18]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[18]/type12 $/atom:Benzene[18]/type6
  $/bond:Benzene[18]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[18]/type1 $/atom:Benzene[18]/type2
  $/bond:Benzene[19]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[19]/type4 $/atom:Benzene[19]/type6
  $/bond:Benzene[19]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[19]/type5 $/atom:Benzene[19]/type6
  $/bond:Benzene[19]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[19]/type2 $/atom:Benzene[19]/type4
  $/bond:Benzene[19]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[19]/type3 $/atom:Benzene[19]/type5
  $/bond:Benzene[19]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[19]/type1 $/atom:Benzene[19]/type3
  $/bond:Benzene[19]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[19]/type7 $/atom:Benzene[19]/type1
  $/bond:Benzene[19]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[19]/type8 $/atom:Benzene[19]/type2
  $/bond:Benzene[19]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[19]/type9 $/atom:Benzene[19]/type3
  $/bond:Benzene[19]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[19]/type10 $/atom:Benzene[19]/type4
  $/bond:Benzene[19]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[19]/type11 $/atom:Benzene[19]/type5
  $/bond:Benzene[19]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[19]/type12 $/atom:Benzene[19]/type6
  $/bond:Benzene[19]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[19]/type1 $/atom:Benzene[19]/type2
  $/bond:Benzene[20]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[20]/type4 $/atom:Benzene[20]/type6
  $/bond:Benzene[20]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[20]/type5 $/atom:Benzene[20]/type6
  $/bond:Benzene[20]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[20]/type2 $/atom:Benzene[20]/type4
  $/bond:Benzene[20]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[20]/type3 $/atom:Benzene[20]/type5
  $/bond:Benzene[20]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[20]/type1 $/atom:Benzene[20]/type3
  $/bond:Benzene[20]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[20]/type7 $/atom:Benzene[20]/type1
  $/bond:Benzene[20]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[20]/type8 $/atom:Benzene[20]/type2
  $/bond:Benzene[20]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[20]/type9 $/atom:Benzene[20]/type3
  $/bond:Benzene[20]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[20]/type10 $/atom:Benzene[20]/type4
  $/bond:Benzene[20]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[20]/type11 $/atom:Benzene[20]/type5
  $/bond:Benzene[20]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[20]/type12 $/atom:Benzene[20]/type6
  $/bond:Benzene[20]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[20]/type1 $/atom:Benzene[20]/type2
  $/bond:Benzene[21]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[21]/type4 $/atom:Benzene[21]/type6
  $/bond:Benzene[21]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[21]/type5 $/atom:Benzene[21]/type6
  $/bond:Benzene[21]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[21]/type2 $/atom:Benzene[21]/type4
  $/bond:Benzene[21]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[21]/type3 $/atom:Benzene[21]/type5
  $/bond:Benzene[21]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[21]/type1 $/atom:Benzene[21]/type3
  $/bond:Benzene[21]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[21]/type7 $/atom:Benzene[21]/type1
  $/bond:Benzene[21]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[21]/type8 $/atom:Benzene[21]/type2
  $/bond:Benzene[21]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[21]/type9 $/atom:Benzene[21]/type3
  $/bond:Benzene[21]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[21]/type10 $/atom:Benzene[21]/type4
  $/bond:Benzene[21]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[21]/type11 $/atom:Benzene[21]/type5
  $/bond:Benzene[21]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[21]/type12 $/atom:Benzene[21]/type6
  $/bond:Benzene[21]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[21]/type1 $/atom:Benzene[21]/type2
  $/bond:Benzene[22]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[22]/type4 $/atom:Benzene[22]/type6
  $/bond:Benzene[22]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[22]/type5 $/atom:Benzene[22]/type6
  $/bond:Benzene[22]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[22]/type2 $/atom:Benzene[22]/type4
  $/bond:Benzene[22]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[22]/type3 $/atom:Benzene[22]/type5
  $/bond:Benzene[22]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[22]/type1 $/atom:Benzene[22]/type3
  $/bond:Benzene[22]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[22]/type7 $/atom:Benzene[22]/type1
  $/bond:Benzene[22]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[22]/type8 $/atom:Benzene[22]/type2
  $/bond:Benzene[22]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[22]/type9 $/atom:Benzene[22]/type3
  $/bond:Benzene[22]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[22]/type10 $/atom:Benzene[22]/type4
  $/bond:Benzene[22]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[22]/type11 $/atom:Benzene[22]/type5
  $/bond:Benzene[22]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[22]/type12 $/atom:Benzene[22]/type6
  $/bond:Benzene[22]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[22]/type1 $/atom:Benzene[22]/type2
  $/bond:Benzene[23]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[23]/type4 $/atom:Benzene[23]/type6
  $/bond:Benzene[23]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[23]/type5 $/atom:Benzene[23]/type6
  $/bond:Benzene[23]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[23]/type2 $/atom:Benzene[23]/type4
  $/bond:Benzene[23]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[23]/type3 $/atom:Benzene[23]/type5
  $/bond:Benzene[23]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[23]/type1 $/atom:Benzene[23]/type3
  $/bond:Benzene[23]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[23]/type7 $/atom:Benzene[23]/type1
  $/bond:Benzene[23]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[23]/type8 $/atom:Benzene[23]/type2
  $/bond:Benzene[23]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[23]/type9 $/atom:Benzene[23]/type3
  $/bond:Benzene[23]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[23]/type10 $/atom:Benzene[23]/type4
  $/bond:Benzene[23]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[23]/type11 $/atom:Benzene[23]/type5
  $/bond:Benzene[23]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[23]/type12 $/atom:Benzene[23]/type6
  $/bond:Benzene[23]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[23]/type1 $/atom:Benzene[23]/type2
  $/bond:Benzene[24]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[24]/type4 $/atom:Benzene[24]/type6
  $/bond:Benzene[24]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[24]/type5 $/atom:Benzene[24]/type6
  $/bond:Benzene[24]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[24]/type2 $/atom:Benzene[24]/type4
  $/bond:Benzene[24]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[24]/type3 $/atom:Benzene[24]/type5
  $/bond:Benzene[24]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[24]/type1 $/atom:Benzene[24]/type3
  $/bond:Benzene[24]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[24]/type7 $/atom:Benzene[24]/type1
  $/bond:Benzene[24]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[24]/type8 $/atom:Benzene[24]/type2
  $/bond:Benzene[24]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[24]/type9 $/atom:Benzene[24]/type3
  $/bond:Benzene[24]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[24]/type10 $/atom:Benzene[24]/type4
  $/bond:Benzene[24]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[24]/type11 $/atom:Benzene[24]/type5
  $/bond:Benzene[24]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[24]/type12 $/atom:Benzene[24]/type6
  $/bond:Benzene[24]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[24]/type1 $/atom:Benzene[24]/type2
  $/bond:Benzene[25]/id1 @/bond:Benzene/BENZENE_type1 $/atom:Benzene[25]/type4 $/atom:Benzene[25]/type6
  $/bond:Benzene[25]/id2 @/bond:Benzene/BENZENE_type2 $/atom:Benzene[25]/type5 $/atom:Benzene[25]/type6
  $/bond:Benzene[25]/id3 @/bond:Benzene/BENZENE_type3 $/atom:Benzene[25]/type2 $/atom:Benzene[25]/type4
  $/bond:Benzene[25]/id4 @/bond:Benzene/BENZENE_type4 $/atom:Benzene[25]/type3 $/atom:Benzene[25]/type5
  $/bond:Benzene[25]/id5 @/bond:Benzene/BENZENE_type5 $/atom:Benzene[25]/type1 $/atom:Benzene[25]/type3
  $/bond:Benzene[25]/id6 @/bond:Benzene/BENZENE_type6 $/atom:Benzene[25]/type7 $/atom:Benzene[25]/type1
  $/bond:Benzene[25]/id7 @/bond:Benzene/BENZENE_type7 $/atom:Benzene[25]/type8 $/atom:Benzene[25]/type2
  $/bond:Benzene[25]/id8 @/bond:Benzene/BENZENE_type8 $/atom:Benzene[25]/type9 $/atom:Benzene[25]/type3
  $/bond:Benzene[25]/id9 @/bond:Benzene/BENZENE_type9 $/atom:Benzene[25]/type10 $/atom:Benzene[25]/type4
  $/bond:Benzene[25]/id10 @/bond:Benzene/BENZENE_type10 $/atom:Benzene[25]/type11 $/atom:Benzene[25]/type5
  $/bond:Benzene[25]/id11 @/bond:Benzene/BENZENE_type11 $/atom:Benzene[25]/type12 $/atom:Benzene[25]/type6
  $/bond:Benzene[25]/id12 @/bond:Benzene/BENZENE_type12 $/atom:Benzene[25]/type1 $/atom:Benzene[25]/type2
